<h1>Super Chat de Coder</h1>
<hr />
<div>
    <i id="username"></i>: <input type="text" id="chatBox">
</div>
<div id="messagesLog"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>